.card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  height: 320px;
  width: 280px;
  overflow: hidden;
  text-align: center;
}

.card img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

#money {
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #23c387, #2ac978, #23c387);
}

button {
  background: linear-gradient(to right, #23c387, #2ac978, #23c387);
}

.receipt {
  text-align: center;
}

.receipt ul {
  list-style: none;
  padding: 0;
}
